<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3af4c66c5.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <title>Carrito</title>
    </head>

    
    <body>
        <header>
            <div class="header-top">
                <section class="logo-container">
                    <img src="/images/logo.png" class="logo" alt="Logo">
                </section>
                <div class="alimentos">
                    <ul>
                      <li>
                        <a href="#">Alimentos   <i class="fas fa-caret-up"></i></a>
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="accesorios">
                    <ul>
                      <li>
                        <a href="#">Accesorios   <i class="fas fa-caret-up"></i></a>
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="viviendas">
                    <ul>
                      <li>
                        <a href="#">Viviendas   <i class="fas fa-caret-up"></i></a>
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="otros">
                    <ul>
                      <li>
                        <a href="#">Otros   <i class="fas fa-caret-up"></i></a>
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                        
            </div>
                
    
            <nav>
                <ul>
                    <li><a href="/">Home </a> </li>
                    <li><a href="/carrito"> Carrito</a>  </li>
                    <li><a href = "/login"> Login</a> </li>
                    <li><a href="/registro"> Registro</a> </li>
                </ul>
            </nav>
        </header>

    <main>
    <div class="carrito">
      <h2>Carrito</h2>
    </div>
        <section class="bolsa">
          <div class="articulos-bolsa">
            <article>
              <img src="/images/producto_1.jpg" alt="Chamarra negra Bad2Bone" class="img-producto">
              <div class="descripcion-producto">
                <p class="descripcion">Bootique Chamarra Negra Bad2Bone</p>
                <label class="talla">Talla:</label>
                <select name="talla">
                  <option value="xx-chico">xx-Chico</option>
                  <option value="x-chico">x-chico</option>
                  <option value="chico">Chico</option>
                  <option value="mediano">Mediano</option>
                  <option value="grande">Grande</option>
                </select>
                <div class="cantidad">
                  <input type="submit" value="-">
                  <input type="number" value="cantidad">
                  <input type="submit" value="+">
                </div>
                <p class="precio">$499</p>
              </div>
            </article>

            <article class="producto">
              <img src="/images/producto_2.jpg" alt="Collar Good2Go Rosa Neon" class="img-producto">
              <div class="descripcion-producto">
                <p class="descripcion">Collar Acojinado Reflejante Rosa Neon Good2Go</p>
                <label class="talla">Talla:</label>
                <select name="talla">
                  <option value="xx-chico">xx-Chico</option>
                  <option value="x-chico">x-chico</option>
                  <option value="chico">Chico</option>
                  <option value="mediano">Mediano</option>
                  <option value="grande">Grande</option>
                </select>
                <div class="cantidad">
                  <input type="submit" value="-">
                  <input type="number" value="cantidad">
                  <input type="submit" value="+">
                </div>
                  <p class="precio">$325</p>
              </div>
            </article>

            <article class="producto">
              <img src="/images/producto_3.jpg" alt="Correa Good2Go Rosa Neon" class="img-producto">
              <div class="descripcion-producto">
                <p class="descripcion">Correa Acojinada Reflejante Rosa Neon Good2Go</p>
                <label class="talla">Talla:</label>
                <select name="talla">
                  <option value="xx-chico">xx-Chico</option>
                  <option value="x-chico">x-chico</option>
                  <option value="chico">Chico</option>
                  <option value="mediano">Mediano</option>
                  <option value="grande">Grande</option>
                  </select>
                <div class="cantidad">
                  <input type="submit" value="-">
                  <input type="number" value="cantidad">
                  <input type="submit" value="+">
                </div>
                <p class="precio">$439</p>
              </div>
            </article>
          </div>
        </section>

        <section class="seccion-resumen">
          <div class="resumen">
            <h3>Resumen de la compra</h3>
            <p class="direccion-envio">Calle Numero CP Ciudad</p>
            <p class="costo-envio">Gratis</p>
            <p class="total-envio">Total con envío</p>
            <p class="total">$1263</p>
            <input type="submit" value="Comprar">
          </div>
        </section>
    </main>

    <footer>
      <section>
          <h3>Categorías</h3>
          <ul>
              <li><a href="#"><i class="fas fa-dog"></i>&nbsp; Perros</a></li>
              <li><a href="#"><i class="fas fa-cat"></i>&nbsp;Gatos</a></li>
              <li><a href="#"><i class="fas fa-crow"></i>&nbsp;Aves</a></li>
              <li><a href="#"><img src="../images/tortugaIcono.svg">&nbsp;Reptiles </a></li>
              <li><a href="#"><img src="../images/ardillaIcono.svg">&nbsp;Roedores </a></li>
              <li><a href="#"><i class="fas fa-fish"></i>&nbsp;Peces</a></li>
          </ul>
      </section>
      <section>
          <h3>Nosotros</h3>
          <ul>
              <li><a href="#"><i class="fas fa-file-signature"></i> &nbsp;Contacto</li>
              <li><a href="#"><ion-icon name="people-circle-outline"></ion-icon> &nbsp;¿Quiénes somos?</a></li>
              <li><a href="#"><ion-icon name="medical-outline"></ion-icon> &nbsp;Servicios</a></li>
              <li><a href="#"><i class="fas fa-rss-square"></i> &nbsp;Nuestro blog</a></li>
          </ul>
      </section>
      <section>
          <h3>Redes sociales</h3>
          <ul>
              <li><a href="www.facebook.com"> <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook</a></li>
              <li><a href="www.twitter.com"><ion-icon name="logo-twitter"></ion-icon> &nbsp; Twitter</a></li>
              <li><a href="web.whatsapp.com"><ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</WhatsApp></a></li>
          </ul>
      </section>
      <section>
          <form method="GET">
              <label for="registro-footer" class="registro footer">
                  <h3>Registrate</h3>
                  <input type="text" placeholder="correo-elecro@yeah.com">
              </label>
          </form>
      </section>
      <section>
          <h3>Servicio al cliente</h3>
          <ul>
              <li>Seguimiento de pedidos</li>
              <li>Quejas y sugerencias</li>
          </ul>
      </section>
  </footer>
    </body>
</html>