<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/stylesCrear.css"> 
</head>
<body> 
  <%- include('./partials/header') %> 
    <main>
        <div class="edicion-producto">
            <h1>Crear producto</h1>
        </div>
        <div class="form-edicion">
            <form action="/productos/" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre del producto:</label>
                    <input type="text" id="name" name="name" class="input-text">
                    
                </div>
                <div>
                    <label for="image-p">Imagen principal:</label>
                    <input type="file" id="image-p" name="image_p" class="input-file">
                </div>
                <div>
                    <label for="image_1">Imagen secundaria 1:</label>
                    <input type="file" id="image_1" name="image_1" class="input-file">
                </div>
                <div>
                    <label for="image_2">Imagen secundaria 2:</label>
                    <input type="file" id="image_2" name="image_2" class="input-file">
                </div>
                <div>
                    <label for="animal">Animal:</label>
                    <select name="animal" id="animal">
                        <option value="Polygender" selected>Polygender</option>
                        <option value="Male">Masculino</option>
                        <option value="Female">Femenino</option>
                        <option value="Genderqueer">Genderqueer</option>
                        <option value="Non-binar">Non-binar</option>
                    </select>
                    
                </div>
                <div>
                    <label for="category">Categorias:</label>
                    <select name="category" id="category">
                        <option value="Bigender" selected>Bigender</option>
                        <option value="Male">Masculino</option>
                        <option value="Female">Femenino</option>
                        <option value="Genderqueer">Genderqueer</option>
                        <option value="Agender">Agender</option>
                    </select>
                </div>
                <div>
                    <label for="price">Precio:</label>
                    <input type="number" id="price" name="price" class="input-text">
                </div>
                <div>
                    <label for="description">Descripción:</label>
                    <textarea id="description" name="description" class="input-area"></textarea>
                </div>
                <div>
                    <label for="caracteristic">Características:</label>
                    <textarea id="caracteristic" name="caracteristic" class="input-area"></textarea>
                </div>
                <div>
                    <label for="specs">Especificaciones:</label>
                    <textarea id="specs" name="specs" class="input-area"></textarea>
                </div>
                <div class="botones-edicion">
                    <button type="submit">Enviar</button>
                    <button type="button">Cancelar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>