<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Detalle</title>
</head>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main>
        <div class="titulo-detalle">
            <h2>Detalle del Producto</h2>
        </div>

        <section class="detalle">
            <article>
                <img src="/images/products/producto_1.jpg>" alt="producto_1" class="img-p">
                <div class="opciones-detalle">
                    <h3>Precio</h3>
                    <h3>$0000.00 MXN</h3>
                    <div class="form-opciones">
                        <form method="GET" action="/">
                            <label name="opciones" class="lab-opciones">Opcion:</label>
                            <br>
                            <select name="opciones">
                                <option value="borrador">borrador</option>
                            </select>
                            <div class="detalle-cantidad">
                                <input type="submit" value="-">
                                <input type="number" value="cantidad">
                                <input type="submit" value="+">
                            </div>
                            <div class="agregar-carrito">
                                <button type="submit">Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>

            <div class="detalle-descripcion">
                <h3>Descripción:</h3>
                <p>
                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae duis duis at velit eu est congue elementum
                    integer non velit donec diam neque vestibulum eget vulputate ut ultrices vel augue vestibulum ante ipsum
                    duis at velit eu est congue elementum in hac habitasse platea dictumst morbi vestibulum velit id pretium iaculis 
                    diam erat fermentum justo nec condimentum neque sapien placerat donec ut dolor morbi vel lectus in quam fringilla rhoncus mauris
                </p>
            </div>

            <div class="info-detalle">
                <nav>
                    <ul>
                        <li>Características</li>
                        <li>Especificaciones</li>
                        <li>Instrucciones</li>
                    </ul>
                </nav>
                <p>
                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae duis duis at velit eu est congue elementum
                    integer non velit donec diam neque vestibulum eget vulputate ut ultrices vel augue vestibulum ante ipsum
                    duis at velit eu est congue elementum in hac habitasse platea dictumst morbi vestibulum velit id pretium iaculis 
                    diam erat fermentum justo nec condimentum neque sapien placerat donec ut dolor morbi vel lectus in quam fringilla rhoncus mauris
                </p>
            </div>
        </section>


    </main>

    <!--FOOTER--> 
    <%- include('./partials/footer') %> 
</body>
</html>
