<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Editar producto</title>
</head>
<body> 
  <%- include('./partials/header') %> 
    <main>
        <div class="edicion-producto">
            <h1>Editar producto</h1>
            <form action="/" method="POST">
                <p>
                    <label for="nombre-producto">Nombre del producto:</label>
                    <input type="text" id="nombre-producto" name="nombre-producto">
                </p>
                <p>
                    <label for="img-principal">Imagen principal:</label>
                    <input type="file" id="img-principal" name="img-principal">
                </p>
                <p>
                    <label for="img-secundaria1">Imagen secundaria 1:</label>
                    <input type="file" id="img-secundaria1" name="img-secundaria1">
                </p>
                <p>
                    <label for="img-secundaria2">Imagen secundaria 2:</label>
                    <input type="file" id="img-secundaria2" name="img-secundaria2">
                </p>
                <p>
                    <label for="precio">Precio:</label>
                    <input type="number" id="precio" name="precio">
                </p>
                <p>
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion"></textarea>
                </p>
                <p>
                    <label for="caracteristicas">Características:</label>
                    <textarea id="caracteristicas" name="caracteristicas"></textarea>
                </p>
                <p>
                    <label for="especificaciones">Especificaciones:</label>
                    <textarea id="especificaciones" name="especificaciones"></textarea>
                </p>
                <p>
                    <label for="instrucciones">Instrucciones:</label>
                    <textarea id="instrucciones" name="instrucciones"></textarea>
                </p>
                <button type="submit">Enviar</button>
                <button type="button">Cancelar</button>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>