<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed17535c69.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Animalandia</title>
</head>
<body> 
    <header>
        <div class="header-top">
            <section class="logo-container">
                <img src="../images/logo.png" class="logo" alt="Logo">
            </section>
            <div class="alimentos">
                <ul>
                  <li>
                    <a href="#">Alimentos   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="accesorios">
                <ul>
                  <li>
                    <a href="#">Accesorios   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="viviendas">
                <ul>
                  <li>
                    <a href="#">Viviendas   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="otros">
                <ul>
                  <li>
                    <a href="#">Otros   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
                    
        </div>
            

        <nav>
            <ul>
                <li><a href="/">Home </a> </li>
                <li><a href="/carrito"> Carrito</a>  </li>
                <li><a href = "/login"> Login</a> </li>
                <li><a href="/registro"> Registro</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>En construccion UwU</h1>
        <section></section>
        <article></article>
        <img src="../images/PortadaMascotas.png" alt="PortadaMascotas">

        <img src="../images/croquetas.jfif"alt="producto-1">

        <img src="../images/croquetas2.jfif" alt="producto 2">
    </main>

    <footer>
        <section>
            <h3>Categorías</h3>
            <ul>
                <li>Perros</li>
                <li>Gatos</li>
                <li>Aves</li>
                <li>Reptiles</li>
                <li>Roedores</li>
                <li>Peces</li>
            </ul>
        </section>
        <section>
            <h3>Nosotros</h3>
            <ul>
                <li>Contacto</li>
                <li>Quienes somos?</li>
                <li>Servicios</li>
                <li>Nuestro blog</li>
            </ul>
        </section>
        <section>
            <h3>Redes sociales</h3>
            <ul>
                <li>...</li>
            </ul>
        </section>
        <section>
            <form method="GET">
                <label for="registro-footer" class="registro footer">
                    <h3>Registrate</h3>
                    <input type="text" placeholder="correo-elecro@yeah.com">
                </label>
            </form>
        </section>
        <section>
            <h3>Servicio al cliente</h3>
            <ul>
                <li>Seguimiento de pedidos</li>
                <li>Quejas y sugerencias</li>
            </ul>
        </section>
    </footer>
</body>
</html>
