<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed17535c69.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Animalandia</title>
</head>
<body> 
    <header>
        <div class="header-top">
            <section class="logo-container">
                <a href="/"><img src="../images/logo.png" class="logo" alt="Logo"></a>
            </section>
            <div class="alimentos">
                <ul>
                  <li>
                    <a href="#">Alimentos   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Perros</a></li>
                      <li><a href="#">Gatos</a></li>
                      <li><a href="#">Aves</a></li>
                      <li><a href="#">Reptiles</a></li>
                      <li><a href="#">Roedores</a></li>
                      <li><a href="#">Peces</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="accesorios">
                <ul>
                  <li>
                    <a href="#">Accesorios   <i class="fas fa-caret-up"></i></a>
                    <ul>
                        <li><a href="#">Perros</a></li>
                        <li><a href="#">Gatos</a></li>
                        <li><a href="#">Aves</a></li>
                        <li><a href="#">Reptiles</a></li>
                        <li><a href="#">Roedores</a></li>
                        <li><a href="#">Peces</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="viviendas">
                <ul>
                  <li>
                    <a href="#">Viviendas   <i class="fas fa-caret-up"></i></a>
                    <ul>
                        <li><a href="#">Perros</a></li>
                        <li><a href="#">Gatos</a></li>
                        <li><a href="#">Aves</a></li>
                        <li><a href="#">Reptiles</a></li>
                        <li><a href="#">Roedores</a></li>
                        <li><a href="#">Peces</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="otros">
                <ul>
                  <li>
                    <a href="#">Otros   <i class="fas fa-caret-up"></i></a>
                    <ul>
                      <li><a href="#">Suplementos</a></li>
                      <li><a href="#">Salud</a></li>
                      <li><a href="#">Juguetes</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
                    
        </div>
            
        <nav>
            <ul>
                <li><a href="/">Home </a> </li>
                <li><a href="/carrito"> Carrito</a>  </li>
                <li><a href = "/login"> Login</a> </li>
                <li><a href="/registro"> Registro</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <p class="titulo">La mejor tienda de mascotas</p>
        <section class="top-main">
            <div class="mascotas-img">
                <img src="../images/PortadaMascotas.png" alt="PortadaMascotas">
            </div>
            <div class="contenido-intro">
                <div class="container-intro">
                    <i class="fas fa-heartbeat fa-6x"></i>
                    <p class="subtittle">Nuestra preocupación</p>
                    <p class="info">La salud de tu mascota es primero</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-cat fa-6x"></i>
                    <p class="subtittle">Nuestra pasión</p>
                    <p class="info">El buen trato a los animales</p>
                </div>
                <div class="container-intro">
                    <i class="fab fa-hotjar fa-6x"></i>
                    <p class="subtittle">Los mejores precios</p>
                    <p class="info">Nos esforzamos por mantenernos. actualizados con las nuevas tendencias.</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-medal fa-6x"></i>
                    <p class="subtittle">Productos de primera calidad</p>
                    <p class="info">La calidad de los productos es primordial para tu satisfacción y la de tu mascota.</p>
                </div>
            </div>
        </section>
        <section class="info-gral">
            <div class="separador">
                <p> Principales productos</p>
            </div>
        </section>
         <h2>Lo mas destacado</h2>
        <section class="articulos">
            <article>
                <img src="../images/croquetas.jfif"alt="producto-1">
                <p class="product-detail">Alimento Pro Plan OptiDerma Sensitive Skin Adult para perro adulto de raza mediana/grande 13kg</p>
            </article>
            <article>
                <img src="../images/croquetas2.jfif" alt="producto 2">
                <p>Alimento Pro Plan OptiDerma Sensitive Skin Adult para perro adulto de raza mediana/grande 13kg</p>
            </article>
            <article>

            </article>
            <article>

            </article>
        </section>

        <section class="new-products">

        </section>
    </main>

    <footer>
        <section>
            <h3>Categorías</h3>
            <ul>
                <li><a href="#"><i class="fas fa-dog"></i>&nbsp; Perros</a></li>
                <li><a href="#"><i class="fas fa-cat"></i>&nbsp;Gatos</a></li>
                <li><a href="#"><i class="fas fa-crow"></i>&nbsp;Aves</a></li>
                <li><a href="#"><img src="../images/tortugaIcono.svg">&nbsp;Reptiles </a></li>
                <li><a href="#"><img src="../images/ardillaIcono.svg">&nbsp;Roedores </a></li>
                <li><a href="#"><i class="fas fa-fish"></i>&nbsp;Peces</a></li>
            </ul>
        </section>
        <section>
            <h3>Nosotros</h3>
            <ul>
                <li><a href="#"><i class="fas fa-file-signature"></i> &nbsp;Contacto</li>
                <li><a href="#"><ion-icon name="people-circle-outline"></ion-icon> &nbsp;¿Quiénes somos?</a></li>
                <li><a href="#"><ion-icon name="medical-outline"></ion-icon> &nbsp;Servicios</a></li>
                <li><a href="#"><i class="fas fa-rss-square"></i> &nbsp;Nuestro blog</a></li>
            </ul>
        </section>
        <section>
            <h3>Redes sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="__blank"> <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook</a></li>
                <li><a href="https://www.twitter.com" target="__blank"><ion-icon name="logo-twitter"></ion-icon> &nbsp; Twitter</a></li>
                <li><a href="https://web.whatsapp.com" target="__blank"><ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</WhatsApp></a></li>
            </ul>
        </section>
        <section>
            <form method="GET">
                <label for="registro-footer" class="registro footer">
                    <h3>Registrate</h3>
                    <input type="text" placeholder="correo-elecro@yeah.com">
                </label>
            </form>
        </section>
        <section>
            <h3>Servicio al cliente</h3>
            <ul>
                <li><a href="#"><i class="fas fa-truck" ></i>  Seguimiento de pedidos</a></li>
                <li><a href="#"><i class="fas fa-bullhorn" ></i>  Quejas y sugerencias</a></li>
            </ul>
        </section>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>
