<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Carrito</title>
</head>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main>
        
    </main>

    <!--FOOTER--> 
    <%- include('./partials/footer') %> 
</body>
</html>
