/* ESTILOS BACKGROUNDS */
.fondoRojoClaro {
	background-color: #cc1f08;}
.fondoRojoOscuro {
	background-color: #9b0800;}
.fondoAzulClaro {
	background-color: #2239b8;}
.fondoAzulOscuro {
	background-color: rgb(2, 0, 119);}
.fondoGrisClaro {
	background-color: rgb(74, 76, 80)} 
 /*General*/
 * {
     box-sizing: border-box;
 }

body {
    font-family: 'Roboto', sans-serif;
}

header .logo{
    max-width: 180px;
}

ul{
    list-style-type: none;
}

.logoCentrado{
	width: 50%;
	height: 50%;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.headerCentrado{
	text-align: center;
	margin: 0;
	box-sizing: border-box;
}

header nav {
	margin:0;
	padding: 0;
}

header nav ul{
	width: 100%;
	display: block;
    font-size: 17px;
	background-color: #cc1f08;
	line-height: 200%;	
	margin-block: auto;
}

header nav ul li {
	list-style-type: none;
	font-weight:bolder;
	color: white;
	margin-left: -15%;
	
}

header nav ul li a{
	text-decoration: none;
	font-weight: bolder;
	color: white;
}

header nav ul li a:hover{
	font-size: 22px;
	transition: 70ms;
}


/*Controles de formulario*/
main div form input[type="text"]:hover,
main div form input[type="password"]:hover{
	border-color: #9b0800;
}

main div form button{
	padding: 5px;
	border-radius: 5px;
}

main div form button:hover{
	background-color: #9b0800;
	color: white;
	font-weight: bold;
	border-radius: 10px;

}

/* Footer */
footer {
    background-color: rgb(2, 0, 119);
	padding-bottom: 40px;
}
footer section{
	text-align: center;
	width: 100%;
	margin: 0;

}
footer section h3{
    color: white;
    font-weight: bolder;
}
footer section ul li {
	list-style-type: none;
	font-weight:bolder;
	color: white;
	text-align: center;
	width: 100%;
	margin-left: -5%;	
}

footer section ul li a{
	text-decoration: none;
	font-weight: bolder;
	color:white;
}

footer section ul li a:hover{
	font-size: 22px;
	transition: 400ms;
}
footer h3 {
	text-align: center;
	position: relative;
}
footer section ul li{
	margin: 0;
}

.titulosHeader {
	display: inline-block;
	font-size: 120%;
	width: 100%;
	text-align: center;
	color: white;
}

footer ul li img{
	display: inline;
	margin: 0;
}

/*Media query para tablets vertical */
@media (min-width: 481px) {
	header nav ul{
		display:  flex;
		flex-wrap: nowrap;
		font-size: 17px;
		justify-content: space-around;
		margin-left: 0;
	}
	
	header nav ul li {
		justify-content: space-around;
		font-weight:bolder;
		color: white;
		margin-left: -15%;
	}

	footer {
		display:flex;
		flex-wrap: wrap;
        background-color: rgb(2, 0, 119);
	}
	
	footer section h1{
		font-size: medium;
		font-weight:bolder;
		color: white;
	}

	footer section{
		flex-grow: 33%;
		justify-content: center;
		align-items: center;
		width: 33%;
	}
	
	
	footer section ul li {
		list-style-type: none;
		justify-content: space-around;
		font-weight:bolder;
		font-size: small;
		margin-left: -8%;
	}
	
	footer section ul li a{
		text-decoration: none;
		font-weight: bolder;
	}
}

/*Media query para table apaisada */
@media (min-width: 769px){
	footer {
		display:flex;
		flex-wrap: wrap;
	}
	
	footer section{
		flex-grow: 33%;
		justify-content: center;
		align-items: center;
		width: 33%;
	}
	
	footer section ul li {
		list-style-type: none;
		justify-content: space-around;
		font-weight:bolder;
	}
	
	footer section ul li a{
		text-decoration: none;
		font-weight: bolder;
	}
}

/* Header */
header  {
    background-color: rgb(2, 0, 119);
}
.logo {
	width: 100%;
}
header .header-top{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color:#fff;
	padding-bottom: 10px;
}
/*-------H-E-A-D-E-R---T-O-P----H-O-M-E----------------*/
header .alimentos {background-color: rgb(2, 0, 119);}
div .alimentos a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
.alimentos ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.alimentos ul li {display: inline-block;}
.alimentos ul li:hover {background: #2239b8;}
.alimentos ul li:hover ul {display: block;}
.alimentos ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.alimentos ul li ul li { 
  background: #555; 
  display: block; 
}
.alimentos ul li ul li a {display:block !important;} 
.alimentos ul li ul li:hover {background: rgb(74, 76, 80);}
/*+++++++++++++++++++++++++++*/
header .accesorios {background-color: rgb(2, 0, 119);}
div .accesorios a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
.accesorios ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.accesorios ul li {display: inline-block;}
.accesorios ul li:hover {background: #2239b8;}
.accesorios ul li:hover ul {display: block;}
.accesorios ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.accesorios ul li ul li { 
  background: #555; 
  display: block; 
}
.accesorios ul li ul li a {display:block !important;} 
.accesorios ul li ul li:hover {background: rgb(74, 76, 80);}
/*+++++++++++++++++++++++++++*/
header .viviendas {background-color: rgb(2, 0, 119);}
div .viviendas a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
.viviendas ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.viviendas ul li {display: inline-block;}
.viviendas ul li:hover {background: #2239b8;}
.viviendas ul li:hover ul {display: block;}
.viviendas ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.viviendas ul li ul li { 
  background: #555; 
  display: block; 
}
.viviendas ul li ul li a {display:block !important;} 
.viviendas ul li ul li:hover {background: rgb(74, 76, 80);}
/*+++++++++++++++++++++++++++*/
header .otros {background-color: rgb(2, 0, 119);}
div .otros a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
.otros ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.otros ul li {display: inline-block;}
.otros ul li:hover {background: #2239b8;}
.otros ul li:hover ul {display: block;}
.otros ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.otros ul li ul li { 
  background: #555; 
  display: block; 
}
.otros ul li ul li a {display:block !important;} 
.otros ul li ul li:hover {background: rgb(74, 76, 80);}
/*+++++++++++++++++++++++++++*/
header .header-top div:hover i{
    transform: rotate(-90deg);
	transition: 500ms;
}
header .header-top div{
	display: flex;
	align-items: center;	
}
/*--------------------------------------------*/

/*--------------------------------------------*/
  /*Estilos del registro*/
.logo-centrado{
    width: 40%;
    height: 30%;
}

header .header-registro{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	text-decoration: underline;
	padding: 5px;
	margin: 0%;
}

main .datos-personales,
main .datos-mascota,
main .terminos
{
	display: flex;
	justify-content: center;
}

/*Estilos carrito*/

main .carrito h2{
	display: flex;
	justify-content: center;
	text-decoration: underline;
	text-align: center;
}

.img-producto{
	width: 200px;
    height: 200px;
	box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
	border-radius: 20px;
}

main section.bolsa article{
    background-color: rgb(245, 245, 245); 
	border-width: 1px;
	border-style: solid;
	border-color: rgb(178, 178, 178); 
    margin: 3% 5%;
	border-radius: 20px;
}

main section div.articulos-bolsa article{
	display: flex;
	justify-content: flex-start;
	
}

main section div.descripcion-producto{
	width: 50%;
}

.cantidad{
	display: flex;
}

button, input, optgroup, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 10px 2px;
}

main section div.cantidad input{
	width: 25px;
	height: 25px;
}

.descripcion{
	font-weight: bold;
	font-size: large;
}

.precio{
	display: flex;
	font-size: 25px;
	font-weight: bold;
	justify-content: flex-end;
	margin-bottom: 0px;
}

main section div.resumen{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-end;
	margin-right: 5%;
	margin-bottom: 5%;
}

main section div.resumen h3,
main section p.total{
	font-size: xx-large;
	font-weight: bold;
	margin-block-start: 0em;
	margin-inline-end: 0em;
}

main section p.direccion-envio{
	font-size: large;
	color: rgb(2, 0, 119);
	margin-block-start: 0em;
	margin-inline-end: 0em;
}

main section p.costo-envio{
	font-size: large;
	color: rgb(230, 0, 0);
	margin-block-start: 0em;
	margin-inline-end: 0em;
}

main section p.total-envio{
	font-size: large;
	font-weight: bold;
	margin-block-start: 0em;
	margin-inline-end: 0em;
}

main section div.resumen input{
	width: 8rem;
	height: 3rem;
	border-radius: 7px;
	background-color: #2239b8;
	color: white;
}

/* Estilos Edicion Producto*/

main .edicion-producto h1,
.form-edicion{
	display: flex;
	justify-content: center;
}

main .edicion-producto h1{
	text-align: center;
}

main .form-edicion p{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/*--------M-A-I-N-----H-O-M-E---------------------*/
main .top-main .mascotas-img {
	margin: 2vw;
}
main .top-main .container-intro{
	max-width: 230px;
	max-height: auto;
	padding: 2vw;
	margin-top: 8px;
	border: solid black 1px;
	text-align: center;
	border-radius: 15%;
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main .top-main .container-intro p{
	margin: 0;
	width: 100%;
}
main .top-main .contenido-intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3%;
	
}
main .top-main .contenido-intro i {
	color: #2239b8;
}
main .container-intro .subtittle{
	font-size: 1.5rem;
	font-weight: bolder;
	padding-bottom: 5px;
}
main  .titulo{
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: bolder;
}
main .top-main {
	display: flex;
}
main  .articulos article img {
	width: 100%;
}

main .articulos {
	display: flex;
}

main .info-gral {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
main .info-gral {
	background-color: rgb(230, 0, 0);
	color: white;
	display: block;
	text-align: center;
	font-size: 28px;
	padding: 1%;
}
main .info-gral:hover{
	font-size: 30px;
	transition: 300ms;
	font-weight: bolder;
}
main .contenido-intro article:hover {
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
/*-------A-R-T-I-C-U-L-O-S-----------------*/
main .articulos {
	margin: 2vw;
}
main .articulos article p {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 18px;
	justify-content: space-between;
	padding: 3%;
}





