<footer>
    <section>
        <h3>Categorías</h3>
        <ul>
            <li><a href="#"><i class="fas fa-dog"></i>&nbsp; Perros</a></li>
            <li><a href="#"><i class="fas fa-cat"></i>&nbsp;Gatos</a></li>
            <li><a href="#"><i class="fas fa-crow"></i>&nbsp;Aves</a></li>
            <li><a href="#"><img src="../images/tortugaIcono.svg">&nbsp;Reptiles </a></li>
            <li><a href="#"><img src="../images/ardillaIcono.svg">&nbsp;Roedores </a></li>
            <li><a href="#"><i class="fas fa-fish"></i>&nbsp;Peces</a></li>
        </ul>
    </section>
    <section>
        <h3>Nosotros</h3>
        <ul>
            <li><a href="#"><i class="fas fa-file-signature"></i> &nbsp;Contacto</li>
            <li><a href="#"><ion-icon name="people-circle-outline"></ion-icon> &nbsp;¿Quiénes somos?</a></li>
            <li><a href="#"><ion-icon name="medical-outline"></ion-icon> &nbsp;Servicios</a></li>
            <li><a href="#"><i class="fas fa-rss-square"></i> &nbsp;Nuestro blog</a></li>
        </ul>
    </section>
    <section>
        <h3>Redes sociales</h3>
        <ul>
            <li><a href="https://www.facebook.com" target="__blank"> <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook</a></li>
            <li><a href="https://www.twitter.com" target="__blank"><ion-icon name="logo-twitter"></ion-icon> &nbsp; Twitter</a></li>
            <li><a href="https://web.whatsapp.com" target="__blank"><ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</WhatsApp></a></li>
        </ul>
    </section>
    <section>
        <form method="GET">
            <label for="registro-footer" class="registro footer">
                <h3>Registrate</h3>
                <input type="text" placeholder="correo-elecro@yeah.com">
            </label>
        </form>
    </section>
    <section>
        <h3>Servicio al cliente</h3>
        <ul>
            <li><a href="#"><i class="fas fa-truck" ></i>  Seguimiento de pedidos</a></li>
            <li><a href="#"><i class="fas fa-bullhorn" ></i>  Quejas y sugerencias</a></li>
        </ul>
    </section>
</footer>