<header>
    <div class="header-top">
        <section class="logo-container">
            <a href="/"><img src="../images/logo.png" class="logo" alt="Logo"></a>
        </section>
        <div class="alimentos">
            <ul>
              <li>
                <a href="#">Alimentos   <i class="fas fa-caret-up"></i></a>
                <ul>
                  <li><a href="#">Perros</a></li>
                  <li><a href="#">Gatos</a></li>
                  <li><a href="#">Aves</a></li>
                  <li><a href="#">Reptiles</a></li>
                  <li><a href="#">Roedores</a></li>
                  <li><a href="#">Peces</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="accesorios">
            <ul>
              <li>
                <a href="#">Accesorios   <i class="fas fa-caret-up"></i></a>
                <ul>
                    <li><a href="#">Perros</a></li>
                    <li><a href="#">Gatos</a></li>
                    <li><a href="#">Aves</a></li>
                    <li><a href="#">Reptiles</a></li>
                    <li><a href="#">Roedores</a></li>
                    <li><a href="#">Peces</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="viviendas">
            <ul>
              <li>
                <a href="#">Viviendas   <i class="fas fa-caret-up"></i></a>
                <ul>
                    <li><a href="#">Perros</a></li>
                    <li><a href="#">Gatos</a></li>
                    <li><a href="#">Aves</a></li>
                    <li><a href="#">Reptiles</a></li>
                    <li><a href="#">Roedores</a></li>
                    <li><a href="#">Peces</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="otros">
            <ul>
              <li>
                <a href="#">Otros   <i class="fas fa-caret-up"></i></a>
                <ul>
                  <li><a href="#">Suplementos</a></li>
                  <li><a href="#">Salud</a></li>
                  <li><a href="#">Juguetes</a></li>
                </ul>
              </li>
            </ul>
          </div>
                
    </div>
        
    <nav>
        <ul>
            <li><a href="/">Home </a> </li>
            <li><a href="/carrito"> Carrito</a>  </li>
            <li><a href = "/usuarios/login"> Login</a> </li>
            <li><a href="/usuarios/registrar"> Registro</a> </li>
        </ul>
    </nav>
</header>